@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,400;0,700;1,900&display=swap');

:root{
    font-family: 'Sofia Sans Condensed', sans-serif;
    margin: 4em;
}

.HomePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
nav div{
    font-size: 1.5em;
    font-weight: 900;
    color: hsl(35, 77%, 62%);
}
nav .btn-navbar{
    display: flex;
    width: 70%;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    list-style: none;
}
nav ul li{
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    font-weight: 400;
}

nav ul li a:hover{
    color: hsl(35, 77%, 62%);
}

/* MAIN */

.Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.Main .mid{
    width: 47.5em;
    display: flex;
    flex-direction: column;
    
}
.mid img{
    width: 100%;
    height: 21em;
    background-size: cover;
}
.mid .container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.mid .container .title{
    font-size: 4em;
    width: 40%;
    font-weight: 900;
    color: hsl(240, 100%, 5%);
}
.mid .container .details{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-right: 2%;
    
}
.details .description{
    font-size: 1.2em;
    width: 90%;
    font-weight: 400;
    color: hsl(240, 100%, 5%);
}
.details .btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.details .btn button{
    width: 15em;
    height: 3em;
    border: none;
    background-color: hsl(5, 85%, 63%);
    color: white;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1em;
    margin-right: 1em;
}
.details .btn button:hover{
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
.Main .main-right{
    background-color: hsl(240, 100%, 5%);
    width: 23.5em;
}
.new{
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.main-right H3{
    font-size: 2em;
    font-weight: 900;
    color: hsl(35, 77%, 62%);
    margin-left: 10%;
    margin-top: 1em;
}
.main-right .container-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
.main-right .container-news hr{
    width: 80%;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.new .title{
    font-size: 1.5em;
    font-weight: 900;
    color: hsl(36, 100%, 99%);
    margin-left: 7%;
    margin-top: 1em;
}
.new .description{
    font-size: 1.2em;
    font-weight: 400;
    color: hsl(0, 0%, 68%);
    margin-left: 7%;
    margin-top: 1em;
}
/* ARTICLE */

.Articles{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Articles .article{
    width: 23.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article .picture{
    width: 35%;
}


.article .picture img{
    width: 100%;
    height: 100%;
}

.article .content-article{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 1em;
    flex-wrap: wrap;
}

.content-article .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.header .number{
    color: hsl(233, 8%, 79%);
    font-size: 1.5em;
    
    font-size: 3em;
}
.title a{
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    font-weight: 700;
}
.title a:hover{
    text-decoration: none;
    color: hsl(5, 85%, 63%);
    font-size: 2.5vh;
    font-weight: 700;
}
.content-article .description{
    width: 100%;
    display: flex;

    flex-direction: column;
}
.description span {
    font-weight: 400;
}

.img-mobile{
    display: none;
}
.icons-navbar-mobile{
    display: none;
}


@media (max-width: 900px) {
    .img-web{
        display: none;
    }
    .img-mobile{
        display: block;
    }

    body{
        margin: 0;
        padding: 0;
    }

    :root{
        font-family: 'Sofia Sans Condensed', sans-serif;
        margin: 0;
    }
    .HomePage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    .Main{
        margin-left: 5%;
        margin-right: 5%;
    }
    .mid img{
        width: 100%;
        height: 100%;
    }
    .mid .container{
        display:flex;
        flex-direction: column;
        margin-top: 1em;
    }
    .mid .container .title{
        width: 100%;
        font-weight: 900;
        color: hsl(240, 100%, 5%);
    }
    .mid .container .details{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 2%;
    }

    .Main .main-right{
        background-color: hsl(240, 100%, 5%);
        width: 95%;
        margin-top: 1em;
    }
    .Articles{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2em;
        margin-top: 3em;
        margin-bottom: 5em;
    }
    .Articles .article{
        width: 95%;
        gap: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    nav{
        
        display: flex;
        width: 90%;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    nav .logo{
        margin-left: 0em;
    }
    nav .icons-navbar-mobile{

        display: flex;

    }
    nav .icons-navbar-mobile img{
        width: 1.5em;
        height: 100%;  
        z-index: 1; 
    }
    nav .btn-navbar{
        justify-content: flex-start;
    }
    .btn-navbar{

        background-color: white ;
        position: fixed;
        top: 0;
        right: 0;
        width: 55%;
        height: 100%;   
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;   
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .open{
        transform: translateX(0%);
        transition: transform 0.5s ease-in-out;
    }
    .btn-navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 0.7em;
        font-weight: 400;
        gap: 1.5em;
        width: 100%;
        margin-left: -1em;
        margin-top: 7em;
    }
    
}
@media (max-width:1406px) and (min-width: 900px){
    .Articles .article{
        gap: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .mid img{
        width: 100%;
        height: 21em;
        background-size: cover;
    }
    .Main{
        gap: 2em;
    }
    .Main .mid{
        width: 100%;
        margin: 0 auto;
    }
    .Main .main-right{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 3em;
    }
    .Main .main-right .title-container H3{
        font-size: 2em;
        font-weight: 900;
        color: hsl(35, 77%, 62%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 0.6em;
    }
    .main-right .container-news{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .main-right .container-news hr{
        width: 0.00001%;
        margin: 0;
    }

}